@media only screen and (max-width:1358px){
.contact{
    float: none;
    margin-top: 80px;
    width: 60%;
}
.left{
    float: none;
}

}
@media only screen and (max-width:936px){
    .gambar-content{
        width: 600px;
        
    }
    .image{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .content-second{
        width: 600px;
    }
}
@media only screen and (max-width:936px){
    .gambar-content{
        width: 380px;
        
    }
    .image{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .content-second{
        width: 80%;
        margin-left: 50px;
    }
}

@media only screen and (max-width:555px){
    .number p{
        color: rgb(40, 40, 43);
        background-color: rgb(241, 247, 254);
        width: 10px;
        height: 10px;
        border-radius: 50px;
        margin-right: 20px;
        margin-bottom: 20px;
        text-align: center;
        align-items: center;
        display: flex;
        justify-content: center;
        margin-top: 10px;
    }
    .text-number p{
        line-height: 31px;
        font-size: 10px;
    }
    .content-second{
        width: 330px;
    }
    .content-second > h3{
        margin-bottom: 20px;
        font-size: 15px;
    }
    .container{
        margin-right: none;
        margin-left: none;
    }
    nav a{
        margin: 10px;
        background-color: rgb(250, 125, 0);
        color: white;
        border-radius: 3px;
        padding: 10px 15px;
        text-decoration: none;
        font-size: 10px;
    
    }
    header{
    display:block;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;


}
}
@media only screen and (max-width:376px){
    .contact-content{
        display: flex;
        align-items: center;
        margin-left: 50px;
        margin-top: -70px;
        margin-bottom: 50px;
        width: auto;
    }
    .contact{
        display: flex;
        flex-direction: column;
        background-color: rgb(241, 247, 254);
        padding: 20px;
        border-radius: 5px;
        width: auto;
        float: none;
        margin: 0px 50px;
    }
    .gambar-content{
        width: 300px;
        
    }
    .title h1 {
        font-size: 28px;
        gap: 0px;

    }
    .title h6 {
        color: rgb(115, 110, 110);
        font-size: 15px;
        margin-bottom: 40px;
        margin-top: -20px;
    
    }
    .number p{
        color: rgb(40, 40, 43);
        background-color: rgb(241, 247, 254);
        width: 10px;
        height: 10px;
        border-radius: 50px;
        margin-right: 20px;
        margin-bottom: 20px;
        text-align: center;
        align-items: center;
        display: flex;
        justify-content: center;
        margin-top: 10px;
    }
    .text-number p{
        line-height: 31px;
        font-size: 10px;
    }
    .content-second{
        width: 318px;
    }
    .content-second > h3{
        margin-bottom: 20px;
        font-size: 15px;
    }
    .container{
        margin-right: none;
        margin-left: none;
    }
    nav a{
        margin: 10px;
        background-color: rgb(250, 125, 0);
        color: white;
        border-radius: 3px;
        padding: 10px 15px;
        text-decoration: none;
        font-size: 10px;
    
    }
    header{
    display:block;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;


}
}